@font-face {
  font-family: OCRA;
  src: url(assets/miso.otf);
}
@font-face {
  font-family: OCRA-bold;
  src: url(assets/OCRAStd0.otf);
}

textarea
{
   border:none;
   outline:none;
   resize:none;
}

textarea::placeholder
{
font-size:10pt;
}

.pend {
  background-color: rgba(153,0,102,.5);
  font-family: OCRA-bold;
  font-size: 12px;
  height:25;
  width:400;
  pointer-events: none;
  color:white;
  user-select: none;
}

.geist {
  background-color:white;
  font-family:"OCRA";
  font-size: 16px;
  height:300;
  width:400;
}
.geistButton {
  background-color:rgba(220,220,220,.5);
  font-family:"OCRA-bold";
  font-size: 12px;
  border: none;
  user-select: none;
}
.geistButton:hover {
  background-color:black;
  color:white
}
.response{
  background-color: rgb(90,90,90) !important;
  color: white !important;
}
.quotation{
  background-color: rgb(190,190,190) !important;
  color:black;
}

.spatialChoice {
  background-color:rgba(255,255,255,.8);
  font-family:"OCRA-bold";
  font-size: 12px;
  border: none;
  user-select: none;

}
.spatialChoice:hover {
  background-color:black;
  color:white
}

* {
cursor : url("assets/swift.png"), pointer;
white-space: pre-line;
}

.noselect {
user-select: none;
}


.top-cascade{
  position: fixed;
  top: 0;
  height: 20px;
  left: 0;
  padding: 5px 35px;
  display: flex;
  flex-direction: row;
  background: rgba(0,0,0,.6);
  z-index: 1;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.tc-con {

  font-family: "OCRA-bold";
  font-size: 7pt;
  flex: 1;
  /* align-self:center; */
  display: inline-block;
  text-align:center;
  left:10vw;
  user-select: none;
  color:white;
  vertical-align: middle;
}

.overlay-top {

}


.left-cascade {
  user-select: none;
  position: fixed;
  top: 0;
  height:100vh;
  left: 10;
  font-family: "OCRA-bold";
  font-size: 8pt;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  z-index:1;
}

.lc-load {
  top: 15vh;
}
.lc-low {
  top: 45vh;
}

.lc-top {
  top: 35vh;
}

.lc-mid {
  top: 40vh;
}

.lc-bottomMost{
top:95vh;
padding: 1px 1px;
text-align:top;

}
.lc-bottom {
  top: 60vh !important;
  width:10%;
  background-color:none !important;
  color:white !important;
  font-size:8pt;
  position: fixed;
}



.lc-con:hover{
  background-color:#33FFCC;
  color:FFCC00;
  font-size:8pt;
}

.lc-con{
  color: #660000;
  background-color:white;
  font-size: 8pt;
  z-index:3;
  padding: 5px 5px;
  height:20px;
  left: 10;
  position: fixed;

}




.overlay-left {
  width: calc(100vh - 70px);
}






.overlay-right {
  width: calc(100vh - 70px);
  transform: rotate(90deg) translateX(0px) translateY(-100vw);
  transform-origin: top left 0;
}
.overlay-bottom {
  width: calc(100vw - 70px);
  transform: translateY(calc(100vh - 30px));
}

/* Text inside the 4 page borders */
.overlay-content span {
  padding: 0 5px;
}

.button {  }
.button:hover {
  color: #f9a800;
  text-decoration: none;
}

.button.highlight {
  color: red;
}

.overlay-close-button {
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: "OCRA", sans-serif;
  font-size: 16pt;
  border:none;
  overflow: hidden;
  background-repeat:no-repeat;
  background-color: transparent;
}

.overlay-close-button:hover {

  color: black;

}









.hidden {
  visibility: hidden;
}
.disabled {
  display: none;
}


.g-window-overlay {
  position: fixed;
  top: 25px;
  left: 0;
  width: 100px;
  bottom: 0;
  font-family: "OCRA", sans-serif;
  font-size: 13pt;
  padding: 10px;
  background-color: pink;
  color :pink;


}

.g-about-text {
  padding-left:10 px;
  width: 10%;
  text-overflow: wrap;
  font-size : 18;
}

#about-window-overlay {
  /* overflow-y: scroll; */
  opacity: 1;
  background-color: rgb(255,0,0);
  align-items: right;
  justify-content: right;

}








.window-overlay {
  position: fixed;
  top: 0;
  left:58%;
  right: 0;
  bottom: 0;
  font-family: "OCRA", sans-serif;
  font-size: 11pt;
  padding: 10px;
  background-color: white;
  color :black;
  align-items: right;
  justify-content: right;



}



.animated {
  opacity: 80;
  transition:opacity 0.15s linear;
}

.animated.animated-visible {
  opacity: 1;
}

.grid-container {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.grid-column {
  width: 24%;
  text-overflow: wrap;
}

a{
  text-decoration: none;
  color:white;
}

a.version-link {
  text-decoration: none;
  color: black;
}

a.version-link.current {
  color: red;
}

a.version-link:hover {
  color: blue;
}

.version-link-container {
  margin-bottom: 10px;
}

#versions-window-overlay {
  overflow-y: scroll;
}

#about-window-overlay {
  /* overflow-y: scroll; */
  color:white;
  width: 40%;
  font-family: "OCRA";
  z-index:2;

}

#about-window-overlay-close {

border:none;

}

.about-text {
  padding-left:10%;

  text-overflow: wrap;
  font-size : 18;
  text-align:right;

}

.about-text a {
  text-decoration: none;
  color: blue;

}

.about-text a:hover {

  text-decoration: none;
  color: rgb(47,230,240);
}


.current{
  background-color:#FFCC00;
  color:black
}

.away{
display: none;
}

.darkhorse{
  background-color: black;
  color: white;


}
